.idea
*.iml
*.swp
*.un~
*.*~
*/target
.project
.settings/
./orders/.classpath/
./**/.project
./orders/.settings/
front-end/node_modules/
./**/.vscode/
./**/node_modules/
./**/.classpath
carts/.classpath
front-end/compose/
queue-master/.classpath
shipping/.classpath
shipping/.vscode/
.DS_Store
**/target
*.class
**/.vscode
.vscode
